 
/* Default styles for the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;

}
.background_image {
    background-image: url(https://images.unsplash.com/photo-1535005410886-12b3caf12112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;

}
nav {
    background: black;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

menu li a{
    display :block;
}

.menu {
    display: flex;
    
    align-items: center;   
}

.button a{
    padding:10px 15px;
    background: teal;
    border:1px solid #006d8d;
    border-radius: 50em;
}

.button.secondary a{
    background: transparent;
}
.logo{
    margin-right: auto;
    margin: 0% 1%;
}

.button.primary{
    margin-left: auto;
    margin-inline-end: 1%;
}
.button.secondary{
    margin-inline-end: 1%;
}